<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        
        <title>Minicomic of the Month Club 2017</title>
        <meta name="description" content="An annual subscription to fine minicomics from Australian and New Zealand cartoonists and storytellers. Twelve comics from twelve artists in 2017">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <meta property="og:title"
              content="Minicomic of the Month Club 2017" />
        <meta property="og:type"
              content="website"/>
        <meta property="og:url"
              content="http://minicomic.club/2017" />
        <meta property="og:description"
              content="An annual subscription to fine minicomics from Australian and New Zealand cartoonists and storytellers. Twelve comics from twelve artists in 2017" />
        <meta property="og:image"
              content="http://minicomic.club/2017/{{ asset 'share.jpg' }}"/>

         <meta name="twitter:card"
               content="photo" />
        <meta name="twitter:site"
              content = "@smallercomics" />
        <meta name="twitter:creator"
              content = "@smallercomics" />
        <meta name="twitter:title"
              content = "Minicomic of the Month Club 2017" />
        <meta name="twitter:image"
              content = "http://minicomic.club/2017/{{ asset 'share.jpg' }}" />


        <link rel="canonical"
              href="http://minicomic.club/2017" />

        {{> typekit }}
        
    <style>
      @import url(./{{ asset 'main.css' }});
    </style>

    </head>
    <body>

        {{> fb }}
        
       <header class="banner">
            <img src="./{{ asset 'banner.jpg' }}"/>
            <div></div>
            <h1>Minicomic of the Month Club 2017</h1>
       </header>
       
       <header id="scroll-header">
           <img src="./{{ asset 'title.jpg' }}"/>
           <a class="subscribe-button" href="#subscribe">subscribe now &raquo;</a>
       </header>
       
       <section id="intro">
           <div class="inner">
            <p><strong>Minicomic.club</strong> is back for 2017, bringing you and your mailbox a years worth of minicomics and zines from some of Australia's most interesting cartoonists and comics-makers.</p>
            <p>Sign up and get <strong>12</strong> comics over <strong>12</strong> months, one each from these beautiful people. Take a look at their work - maybe discover someone new - and <a class="subscribe-button" href="#subscribe">subscribe</a></p>
            </div>
       </section>

       <section id="contributors">
            {{#each contributors}} 
                {{> contributor }}
            {{/each}}
       </section>
       <section  id="subscribe">
           <div class="inner">
            <p><strong>$38</strong> in Australia/ <strong>$42</strong> in New Zealand, and <strong>$52</strong> in the rest of the world.</p>
          </div>
       </section>
       
       {{> mailing_list }}

       {{> social_callout }}

       <section id="previous">
           <div class="inner">
               <p><strong>Here's what you could be missing.</strong> Some of the comics sent out in previous seasons</p>
            </div>
            <div>
                {{#each previous}} 
                    {{> previous }}
                {{/each}}
            </div>
       </section>

       <section class = "content-banner">
           <img src="./{{ asset 'getting-mailing.jpg' }}" title="Get a comic in the mail, put a comic in the mail" />
       </section>

       <section class="callout">
           <div class="inner">
               <p>Any questions? Hit us up on <a href="https://twitter.com/smallercomics">twitter</a></p>
            </div>
       </section>

       {{> footer }}
       {{> ga }}
       {{> scripts }}
       
    </body>
</html>