<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        
        <title>New Subscribers Giveaway | Minicomic of the Month Club 2017</title>
        <meta name="description" content="New Subscribers can win a pack of fantastic comics from previous seasons of Minicomic.club!">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <meta property="og:title"
              content="New Subscribers Giveaway" />
        <meta property="og:type"
              content="website"/>
        <meta property="og:url"
              content="http://minicomic.club/2017/new-subscribers-giveaway.html" />
        <meta property="og:description"
              content="New Subscribers can win a pack of fantastic comics from previous seasons of Minicomic.club!" />
        <meta property="og:image"
              content="http://minicomic.club/2017/img/{{ asset 'ns-share.jpg' }}"/>

         <meta name="twitter:card"
               content="photo" />
        <meta name="twitter:site"
              content = "@smallercomics" />
        <meta name="twitter:creator"
              content = "@smallercomics" />
        <meta name="twitter:title"
              content = "New Subscribers Giveaway" />
        <meta name="twitter:image"
              content = "http://minicomic.club/2017/img/{{ asset 'ns-share.jpg' }}" />


        <link rel="canonical"
              href="http://minicomic.club/2017/new-subscribers-giveaway.html" />

        {{> typekit }}
        
    <style>
      @import url(./{{ asset 'main.css' }});
    </style>

    </head>
    <body>

        {{> fb }}
        
       <header class="banner">
           <a href="/2017">
            <img src="./{{ asset 'banner.jpg' }}"/>
             </a>
             <div></div>
            <h1 class="no-replace">New Subscribers Giveaway</h1>
       </header>
       
       <header id="scroll-header">
           <img src="./{{ asset 'title.jpg' }}"/>
           <a class="subscribe-button" href="http://minicomicclub.bigcartel.com/product/minicomic-club-2017-subscription">subscribe now &raquo;</a>
       </header>
       
        <section class="content">
            <div class="inner">
                <p>Are you a <strong>new subscriber</strong> this year? That's amazing - thanks! That's very much a cool and exciting thing to be.</p>
                <p>We thought me might give you a chance to catch up on some of the awesome comics we have sent out so far, something like this!</p>
                <p><img alt="" src="./{{ asset 'new-subs.jpg' }}"/></p>
                <p>Just let us know, through <a title="Entry form" href="https://goo.gl/forms/xt4WhG4NbhW7vKX22">this form here</a>, what you love about minicomics. We'll pick one and send you out a pack of sweet minicomics. Something like above - maybe even a few more if we can dig them up, you like suprises, right?</p>
                <p>Entries for this will close <strong>31st January 2017</strong>. Really it's only open to new subscribers - the prize is comics you already have otherwise.</p>
                <p>&hearts; Thanks we love you!</p>
            </div>
       </section>
        {{> mailing_list }}
        {{> social_callout }}
        {{> footer }}
        {{> ga }}
        {{> scripts }}
    </body>
</html>